{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/loginstyle.css" rel="stylesheet" />
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
        type="text/javascript"
        src="{% static 'scripts/jquery-3.7.1.min.js' %}"
    ></script>
    <script
        type="text/javascript"
        src="{% static 'customscripts/common.js' %}"
    ></script>
    <script
        type="text/javascript"
        src="{% static 'customscripts/login.js' %}"
    ></script>
</head>
<body class="login_bg">
    {% csrf_token %}
    <div class="login-container">
        <h2 class="pt-4">Login to your account</h2>

        <!-- Login Form -->
        <form class="pt-3" method="post">
            <div class="form-floating">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Username"
                    id="txtUserName"   
                />
                <label for="txtUserName" style="font-size: 14px; color: #545454">Enter Username</label>
                <div class="invalid-feedback text-left d-block" id="divErrtxtUserName"></div>
            </div>
            <div class="form-floating position-relative">
                <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    id="txtPassword"
                />
                <label for="txtPassword" style="font-size: 14px; color: #545454">Password</label>
                <span class="eye-icon position-absolute" onclick="togglePassword()">
                    <img src="../static/images/eye.png" width="24" height="24" alt="eye_icon" />
                </span>
                <div class="invalid-feedback text-left d-block" id="divErrtxtPassword"></div>
            </div>
            <button
                type="button"
                class="btn btn-primary border-0 btn-height-60 mt-5 w-100"
                id="btnSubmit"
                onclick="validate();"
            >
                Login
            </button>

            <!-- Error Message -->
            <div
                class="alert alert-danger mt-3"
                role="alert"
                id="divErrAuthResult"
                style="display: none"
            ></div>
        </form>
    </div>


<script src="../static/scripts/bootstrap.bundle.min.js"></script>
<script>
    function togglePassword() {
    const passwordInput = document.getElementById("txtPassword");
    const eyeIcon = document.querySelector(".eye-icon i");

    if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.classList.remove("bi-eye");
        eyeIcon.classList.add("bi-eye-slash");
    } else {
        passwordInput.type = "password";
        eyeIcon.classList.remove("bi-eye-slash");
        eyeIcon.classList.add("bi-eye");
    }
    }
</script>
</body>
</html>